{{ set . "title" "Edit Profile" }}
{{ set . "active" "profile" }}
{{ append . "styles" "/public/stylesheets/simplemde/simplemde.min.css" }}
{{ template "templates/manage/header.html" . }}
{{ template "templates/manage/navigation.html" . }}

<div class="content">
    <form method="POST" action="{{ url "Sessions.SaveProfile" }}">
        <div class="form-group">
            <label for="user-name">Name</label>
            <input type="text" class="form-control" id="user-name" name="user-name" placeholder="John Smith" value="{{ .profile.Name }}"/>
        </div>
        <div class="form-group">
            <label for="user-location">Location</label>
            <input type="text" class="form-control" id="user-location" name="user-location" placeholder="State" value="{{ .profile.Location }}"/>
        </div>
        <div class="form-group">
            <label for="user-about">About</label>
            <div id="about-editor">
                <textarea id="user-about" name="user-about">{{ .profile.About }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="user-github">GitHub</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="github-at">@</span>
                </div>
                <input type="text" class="form-control" name="user-github" placeholder="username" aria-label="username" aria-describedby="github-at" value="{{ .profile.Github }}">
            </div>
        </div>
        <div class="form-group">
            <label for="user-linkedin">LinkedIn</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="linkedin-at">@</span>
                </div>
                <input type="text" class="form-control" name="user-linkedin" placeholder="username" aria-label="username" aria-describedby="linkedin-at" value="{{ .profile.LinkedIn }}">
            </div>
        </div>
        <div class="form-group">
            <label for="user-twitter">Twitter</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="twitter-at">@</span>
                </div>
                <input type="text" class="form-control" name="user-twitter" placeholder="username" aria-label="username" aria-describedby="twitter-at" value="{{ .profile.Twitter }}">
            </div>
        </div>
        <div class="form-group">
            <label for="user-instagram">Instagram</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="instagram-at">@</span>
                </div>
                <input type="text" class="form-control" name="user-instagram" placeholder="username" aria-label="username" aria-describedby="instagram-at" value="{{ .profile.Instagram }}">
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-success float-right"><i class="fas fa-save"></i> Save</button>
        <div class="clearfix"></div>
    </form>
</div>
{{ append . "scripts" "/public/scripts/simplemde/simplemde.min.js" }}
{{ template "templates/manage/footer.html" . }}