body {
    flex-direction: unset;
}
.content-wrapper {
    width: 87%;
}
.content {
    margin: 2.75rem;
    background: #fff;
    padding: 1.25rem;
}

.navbar {
    height: 60px;
}
.sidebar {
    width: 13%;
    background: #2a2a2a;
    height: 100vh;
    font-size: 0.9rem;
}
.sidebar .nav .nav-category {
    cursor: default;
    text-transform: uppercase;
}
.sidebar .nav .nav-category .nav-link {
    color: #bf4f50;
}
.sidebar .nav .nav-category:not(:first-child) {
    margin-top: 2rem;
}
.sidebar .nav .nav-category:first-child {
    margin-top: 4rem;
}

.sidebar .nav {
    width: 100%;
}

.sidebar .nav .nav-item {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 20px;
    padding: 0 0.5rem;
}

.sidebar .nav .nav-item .menu-title {

}


.sidebar .nav .nav-item .nav-link i {
    float: right;
    line-height: 20px;
}
.sidebar .nav .nav-item:not(.nav-category) .nav-link {
    color: #bbb;
}
.sidebar .nav .nav-item:not(.nav-category) .nav-link:hover, .sidebar .nav .nav-item.active .nav-link {
    color: #fff;
}
.sidebar .nav .nav-item:not(.nav-category) {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.sidebar .nav .nav-item.active, .sidebar .nav .nav-item:not(.nav-category):hover {
    border-top-color: rgba(255, 255, 255, 0.4);
    border-bottom-color: rgba(255, 255, 255, 0.4);
}

.sidebar .sub-menu {
    display: block;
    position: relative;
    padding-left: 0;
}
.sidebar .sub-menu.nav-item {
    border-bottom: none;
}
.sidebar .sub-menu .nav-link {
    color: #0f0;
    padding: 0.5rem;
}

.sidebar .sub-menu .nav-item.active .nav-link {
    border-left: 0;
    color: #00f;
    background: transparent;
}
.collapse {
    z-index: 999;
}
