html {
    height: 100vh;
}
body {
    font-family: Roboto sans-serif;
    font-size: 0.95rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 14em;
    background: url('/public/img/banner.jpg');
    background-position: center center, center top;
    background-size: cover;
    background-repeat: repeat, no-repeat;
    z-index: -1;
}
.header {
    height: 10em;
    padding: 2em 0;
}
.logo a{
    display:block;
}
.logo {
    float: left;
}
.logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.logo h3 {
    color: #fff;
    float: left;
    padding-left: 15px;
    line-height: 100px;
}
.logo small {
    color: #ddd;
    clear:both;
    float: left;
    margin-top: -35px;
    padding-left: 15px;
}

.header-right ul li {
    display: inline-block;
    float: left;
}
.header-right {
    float: right;
}
.header-right ul {
    padding: 0;
}
.header-right li {
    margin: 0 0.5em;
}

.header-right ul li a {
    color: #ccc;
}.header-right ul li a:hover {
     color: #fff;
 }


/** LINKS **/
.head-nav {
    margin-bottom: 1rem;
    padding: 1em 0;
}
.head-nav ul li{
    display: inline-block;
}
.head-nav ul li a{
    position: relative;
    display: inline-block;
    outline: none;
    color: #8ca9b9;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1em;
    margin: 0.8em 1.3em;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0);
    transition: 0.25s;
}
.head-nav a:hover,
.head-nav a:focus {
    padding-bottom: 0;
    margin-bottom: 20px; /* used to offset the padding-bottom lost when hovering */
    outline: none;
    border-bottom: 1px solid #608396;
}
.head-nav ul{
    padding:0;
    margin: 0;
}
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.head-nav ul li {
    display: inline-block;
    margin: 0 0;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 16px;
}

.head-nav ul li.active a {
    padding-bottom: 0;
    border-bottom: 1px solid #608396;
    color: #fff;
}
ul a:hover,
ul a:focus {
    outline: none;
    color:#fff;
    text-decoration: none;
}
.cl-effect-15 a::before {
    color: #8ca9b9;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

.cl-effect-15 a:hover::before,
.cl-effect-15 a:focus::before {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
}

/* Container Styles */
.page-container {
    width:100%;
    padding-right:30px;
    padding-left:30px;
    margin-right:auto;
    margin-left:auto;
    height: auto;
    position: relative;
    flex: 1;
}
@media (min-width:576px) {
    .page-container {
        max-width:540px
    }
}
@media (min-width:768px) {
    .page-container {
        max-width:720px
    }
}
@media (min-width:992px) {
    .page-container {
        max-width:960px
    }
}
@media (min-width:1200px) {
    .page-container {
        max-width:1140px
    }
}

/* POST */
.post-list {
    margin-bottom: 1.25rem;
}
.post a {
    color: #000;
}

/** ABOUT **/
.about-details {
    margin: 0 auto;
    text-align: center;
}
.about img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.about ul.social-list {
    width: 75%;
    margin: 0 auto;
}
.about ul.social-list li {
    text-align: left;
    padding: 0.15rem 0;
}.about ul.social-list i {
     width: 32px;
 }
.about ul.social-list a {
    color: #444;
    transition: 0.25s;
}
.about ul.social-list a:hover {
    color: #bbb;
    border-bottom: 1px solid #aaa;
}

/** @Repo **/

.repo-row:not(:first-child) {
    margin-top: 1.5rem;
}

.repo {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 2px 2px 10px #999;
}

.repo header.repo-header .repo-language {
    line-height: 2.2em;
}

.repo header.repo-header {
    padding: 20px 20px 0;
}

.repo header.repo-header a.repo-title {
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    color: #555;
    line-height: 1.1em;
    text-align: center;
    vertical-align: middle;
}
.repo header.repo-header a.repo-title:hover {
    color: #888;
}

.repo .repo-meta {
    font-size: 12px;
    margin-top: 0.5rem;
    padding: 0 20px;
    color: #999;
}

.repo .repo-data {
    color: #555;
    padding: 10px 20px;
}
.repo .repo-data p {
    margin-top: 1rem!important;
    margin-bottom: 1rem;
}

.repo .repo-footer {
    margin: 0 20px;
    padding-top: 10px;
    font-size: 0.8em;
    color: #999;
    border-top: 1px solid #ccc;
    z-index: 999;
}

.repo .repo-readme-link {
    display: inline;
    color: #555!important;
}
.repo .repo-readme-link:hover {
    color: #08f!important;
    cursor: pointer;
}

/* README Modal on Projects Page */
.readme-modal-content {
    font-size: 0.8em;
}
.readme-modal-btn {
    cursor: pointer;
    background-color: #08f!important;
    color: #fff!important;
}

/* Footer */
footer {
    background: #2d2b2e;
    height: 70px;
    color: #fff;
    line-height: 70px;
    text-align: center;
}