#banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 14em;
    background: url('/public/img/banner.jpg');
    background-position: center center, center top;
    background-size: cover;
    background-repeat: repeat, no-repeat;
    z-index: -1;
}
.header {
    height: 10em;
    padding: 2em 0;
}
.logo a{
    display:block;
}
.logo {
    float: left;
}
.logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.logo h3 {
    color: #fff;
    float: left;
    padding-left: 15px;
    line-height: 100px;
}
.logo small {
    color: #ddd;
    clear:both;
    float: left;
    margin-top: -35px;
    padding-left: 15px;
}

.header-right ul li {
    display: inline-block;
    float: left;
}
.header-right {
    float: right;
}
.header-right ul {
    padding: 0;
}
.header-right li {
    margin: 0 0.5em;
}

.header-right ul li a {
    color: #ccc;
}.header-right ul li a:hover {
     color: #fff;
 }


/** LINKS **/
.head-nav {
    margin-bottom: 2rem;
}
.head-nav ul li{
    display: inline-block;
}
.head-nav ul li a{
    position: relative;
    display: inline-block;
    outline: none;
    color: #8ca9b9;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1em;
    margin: 0.8em 1.3em;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0);
    transition: 0.25s;
}
.head-nav a:hover,
.head-nav a:focus {
    padding-bottom: 0;
    margin-bottom: 20px; /* used to offset the padding-bottom lost when hovering */
    outline: none;
    border-bottom: 1px solid #608396;
}
.head-nav ul{
    padding:0;
    margin: 0;
}
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.head-nav ul li {
    display: inline-block;
    margin: 0 0;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 16px;
}

.head-nav ul li.active a {
    padding-bottom: 0;
    border-bottom: 1px solid #608396;
    color: #fff;
}
ul a:hover,
ul a:focus {
    outline: none;
    color:#fff;
    text-decoration: none;
}
.cl-effect-15 a::before {
    color: #8ca9b9;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

.cl-effect-15 a:hover::before,
.cl-effect-15 a:focus::before {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
}
.head-nav {
    padding: 1em 0;
}