{{if .flash.success}}
    <script>
        showToast("Success", "success", "", {{ .flash.success }}, 2500);
    </script>
{{end}}

{{if or .errors .flash.error}}
    <script>
        {{ if .errors }}
            let errors = [];
            {{range .errors}}
                errors.push("{{.}}");
            {{end}}
            showToast("Errors", "error", "", errors, -1);
        {{ else }}
            showToast("Error", "error", "", {{ .flash.error }}, 6000);
        {{ end }}
    </script>
{{end}}

