{{if .flash.success}}
    <script>
        showNotifyAlert(null, "custom-notify", "{{.flash.success}}", "success");
    </script>
{{end}}

{{if or .errors .flash.error}}
    <script>
        {{ if .errors }}
            let errors = [];
            {{range .errors}}
                errors.push("{{.}}");
            {{end}}
            showNotifyAlert(null, "custom-notify", errors, "danger", 4000);
        {{ else }}
            showNotifyAlert(null, "custom-notify", "{{ .flash.error }}", "danger", 6000);
        {{ end }}
    </script>
{{end}}

