{{if .DevMode}}
    {{template "debug.html" .}}
{{end}}
</div>
<div class="notify-alert" id="custom-notify">
    <div class="row">
        <div class="col">
            <div id="notify-alert-scheme" class="media">
                <i id="notify-alert-icon" class="fa align-self-center fa-2x m-3"aria-hidden="true"></i>
                <div class="media-body bg-light p-4">
                    <div class="row">
                        <div class="col">
                            <div id="notify-alert-text"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/github-calendar.min.js"></script>

<script src="/public/js/jquery.dataTables.min.js"></script>

<script src="/public/js/custom.js"></script>

{{range .moreScripts}}
    <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
{{end}}

{{ if eq .active "dashboard" }}
<script>
    let visitorMap = $('#visitor-map');
    let seriesdata = {
        {{ range $k, $v := .visitors }}
            "{{ $k }}": {{ $v }},
        {{ end }}
    };
    createMap(visitorMap, "", seriesdata);
    $(window).resize(function(){
        createMap(visitorMap, "", seriesdata);
    });
</script>
{{ end }}
{{ if eq .active "profile"}}
<script>
    let simplemde =new SimpleMDE({
        element: $("#user-about")[0],
        placeholder: "About you",
        status: false,
    });
</script>
{{ end }}
{{ if or (eq .active "newpost") (eq .active "editpost") }}
    <script>
        $(function() {
            let simplemde = new SimpleMDE({
                element: $("#post-content")[0],
                placeholder: "Post body...",
                status: false,
            });

            updateCharacterCount($("#description-chars"), 500, $("#post-description").val().length);
            $("#post-description").on('change keyup keypress keydown paste', function() {
                updateCharacterCount($("#description-chars"), 500, $(this).val().length);
            });

            function updateCharacterCount(element, max, count) {
                count = Number(max - count);
                if(count <= 20 && count >= 0) {
                    $(element).attr('style', 'color: #ea821c!important;');
                } else if(count < 0) {
                    $(element).attr('style', 'color: #f00!important;');
                } else {
                    $(element).attr('style', '');
                }

                $(element).text(count);
            }
        });

    </script>
{{ end }}


{{ if .flash }}
    {{ template "templates/manage/flash.html" . }}
{{ end }}
</html>
