<div id="toast-list" class="toast-wrapper"></div>
<div id="toast-tmpl" class="d-none toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <i toast-data="toast-header-icon"></i>
        <span class="font-weight-bold mr-auto" toast-data="toast-header-title"></span>
        <small class="text-muted" toast-data="toast-header-time"></small>
        <button type="button" class="ml-2 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div toast-data="toast-body" class="toast-body"></div>
</div>
</body>

<script src="/public/scripts/jquery/jquery.min.js"></script>
<script src="/public/scripts/bootstrap/bootstrap.min.js"></script>
<script src="/public/scripts/github-calendar/github-calendar.min.js"></script>

<script src="/public/scripts/dataTables/jquery.dataTables.min.js"></script>

<script src="/public/scripts/custom.js"></script>

{{range .scripts}}
    <script src="{{.}}" type="text/javascript" charset="utf-8"></script>
{{end}}

{{ if .flash }}
    {{ template "templates/manage/flash.html" . }}
{{ end }}

{{ if eq .active "dashboard" }}
<script>
    let visitorMap = $('#visitor-map');
    let seriesdata = {
        {{ range $x, $v := .visitors }}
            "{{ $v.CountryCode }}": {{ $v.UserCount }},
        {{ end }}
    };
    createMap(visitorMap, "", seriesdata);
    $(window).resize(function(){
        createMap(visitorMap, "", seriesdata);
    });
</script>
{{ end }}
{{ if eq .active "profile"}}
<script>
    let simplemde =new SimpleMDE({
        element: $("#user-about")[0],
        placeholder: "About you",
        status: false,
    });
</script>
{{ end }}
{{ if eq .active "posts" }}
    <script>
    $(document).ready(function() {
        let dTable = $('#post-list-table').DataTable({
            "order": [[ 0, "desc" ]],
            "autoWidth": false,
            "bLengthChange": false,
            "bSearch": false,
            dom: "tip",
        });
        $('#postTableSearch').keyup(function(){
            dTable.search(this.value).draw();
        });
    } );
    </script>
{{ end }}
{{ if or (eq .active "newpost") (eq .active "editpost") }}
    <script>
        $(function() {
            let simplemde = new SimpleMDE({
                element: $("#post-content")[0],
                placeholder: "Post body...",
                status: false,
            });

            updateCharacterCount($("#description-chars"), 500, $("#post-description").val().length);
            $("#post-description").on('change keyup keypress keydown paste', function() {
                updateCharacterCount($("#description-chars"), 500, $(this).val().length);
            });

            function updateCharacterCount(element, max, count) {
                count = Number(max - count);
                if(count <= 20 && count >= 0) {
                    $(element).attr('style', 'color: #ea821c!important;');
                } else if(count < 0) {
                    $(element).attr('style', 'color: #f00!important;');
                } else {
                    $(element).attr('style', '');
                }

                $(element).text(count);
            }

            let unsaved = false;

            $("#post-title").change(function(){
                unsaved = true;
            });
            $("#post-description").change(function(){
                unsaved = true;
            });
            $("#post-content").change(function(){
                unsaved = true;
            });
            $("#post-tags").change(function(){
                unsaved = true;
            });

            let submit_post = false;
            $('[data-type="post"]').on('click', function() {
                submit_post = true;
            });

            $(window).bind("beforeunload",function(event) {
                if(unsaved && !submit_post) {
                    return "You have unsaved changes on this page.";
                }
            });

        });

    </script>
{{ end }}
</html>
