<!DOCTYPE html>

<html>
<head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <link rel="stylesheet" type="text/css" href="/public/css/admin.css">
    <link rel="stylesheet" type="text/css" href="/public/css/jquery.dataTables.min.css">
    <link rel="shortcut icon" type="image/png" href="/public/favicon.ico">
    {{range .moreStyles}}
        <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}

    {{ if eq .active "post" }}
        {{ bannerImg .post.ID }}
    {{ end }}
</head>
<body>