<!DOCTYPE html>

<html>
<head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/public/stylesheets/font-awesome/all.min.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/admin.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/animations.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/dataTables/jquery.dataTables.min.css">
    <link rel="shortcut icon" type="image/png" href="/public/favicon.ico">
    {{range .styles}}
        <link rel="stylesheet" type="text/css" href="{{.}}">
    {{end}}
</head>
<body>