<nav class="sidebar">
    <div class="sidebar-title">
        <span>Admin Panel</span>
    </div>
    <ul class="nav">
        <li class="nav-item nav-category">
            <span class="nav-link">General</span>
        </li>
        <li class="nav-item {{ if eq .active "dashboard" }}active{{ end }}">
            <a class="nav-link" href="{{ url "Manage.Index" }}">
                <span class="menu-title">Dashboard</span>
                <i class="fas fa-tachometer-alt"></i>
            </a>
        </li>
        <li class="nav-item nav-category">
            <span class="nav-link">Posts</span>
        </li>
        <li class="nav-item {{ if eq .active "posts" }}active{{ end }}">
            <a class="nav-link" href="{{ url "Posts.View" }}">
                <span class="menu-title">View</span>
                <i class="fas fa-list"></i>
            </a>
        </li>
        <li class="nav-item {{ if eq .active "newpost" }}active{{ end }}">
            <a class="nav-link" href="{{ url "Posts.New" }}">
                <span class="menu-title">New</span>
                <i class="fas fa-plus"></i>
            </a>
        </li>
        <li class="nav-item nav-category">
            <span class="nav-link">Analytics</span>
        </li>
        <li class="nav-item {{ if eq .active "analytics" }}active{{ end }}">
            <a class="nav-link" href="{{ url "Analytics.View" }}">
                <span class="menu-title">Website</span>
                <i class="fas fa-chart-area"></i>
            </a>
        </li>
        <li class="nav-item {{ if eq .active "postanalytics" }}active{{ end }}">
            <a class="nav-link" href="{{ url "Analytics.Posts" }}">
                <span class="menu-title">Posts</span>
                <i class="fas fa-chart-line"></i>
            </a>
        </li>

        <li class="nav-item nav-category">
            <span class="nav-link">Account</span>
        </li>
        <li class="nav-item {{ if eq .active "profile" }}active{{ end }}">
            <a class="nav-link" href="{{ url "Sessions.Edit" }}">
                <span class="menu-title">Edit</span>
                <i class="fas fa-user"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url "Sessions.Logout" }}">
                <span class="menu-title">Logout</span>
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </li>
    </ul>
</nav>
<div class="content-wrapper">
    <nav class="navbar navbar-light bg-light">
        <li class="nav-item dropdown d-none d-lg-block ml-auto"><span class="mr-4">{{ .username }}</span></li>
    </nav>