  <footer>
      <span>Copyright &copy; 2019 Zach H.</span>
  </footer>
  </body>

  <script src="/public/scripts/jquery/jquery.min.js"></script>
  <script src="/public/scripts/bootstrap/bootstrap.min.js"></script>
  <script src="/public/scripts/github-calendar/github-calendar.min.js"></script>

  <script src="/public/scripts/dataTables/jquery.dataTables.min.js"></script>

  <script src="/public/scripts/custom.js"></script>

  {{range .scripts}}
      <script src="{{.}}" type="text/javascript" charset="utf-8"></script>
  {{end}}
  {{ if eq .active "home" }}
      <script>
          $('#postSearch').keypress(function (e) {
              if (e.which === 13) {
                  $('form#search').submit();
                  return false;
              }
          });
      </script>
  {{ end }}
  {{ if eq .active "repositories" }}
      <script>
          $.ajax({
              url: "/github",
              method: "post",
              success: function(data) {
                  $('#github').html(data);
              },
              error: function(err, t, s) {
                  // TODO: BS4 Modal
                  showNotifyAlert(null, "custom-notify", "Failed to get Github Data", "error");
              }
          });
      </script>
  {{ end }}
</html>
