<div id="banner"></div>
<div class="container">
    <div class="header">
        <div class="logo">
            <h3>New Blog!</h3>
            <small>Sub header</small>
        </div>
        <div class="header-right">
            <ul>
                put social links here?
            </ul>
        </div>
    </div>
    <div class="clearfix"> </div>
    <div class="head-nav">
        <span class="menu"> </span>
        <ul class="cl-effect-15">
            <li {{ if eq .active "home" }} class="active" {{ end }}><a href="/">HOME</a></li>
            <li {{ if eq .active "about" }} class="active" {{ end }}><a href="/about">ABOUT</a></li>
            <li {{ if eq .active "projects" }} class="active" {{ end }}><a href="/projects">PROJECTS</a></li>
            <div class="clearfix"> </div>
        </ul>
    </div>
</div>