<header class="page-header">
    <div class="container">
        <div class="header">
            <div class="logo">
                <h3>zelims</h3>
                <span>Software Development, IT Security, Gaming</span>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="head-nav">
            <ul class="cl-effect-15">
                <li {{ if eq .active "home" }} class="active" {{ end }}><a href="/">HOME</a></li>
                <li {{ if eq .active "about" }} class="active" {{ end }}><a href="/about">ABOUT</a></li>
                <li {{ if eq .active "repositories" }} class="active" {{ end }}><a href="/repositories">Repositories</a></li>
                <li {{ if eq .active "projects" }} class="active" {{ end }}><a href="/projects">PROJECTS</a></li>
            </ul>
        </div>
    </div>
</header>