<div id="post-list">
    {{ template "Post/list.html" . }}
</div>
<nav>
    <ul class="pagination justify-content-center">

        {{ if .posts }}
            {{ if .pagen.Pages }}
                <input type="hidden" id="postPageCount" value="{{ .pagen.Pages }}"/>
                <input type="hidden" id="curPage" value="{{ $.pageNum }}"/>
                {{ if gt .pagen.Pages 1 }}
                    <li class="page-item disabled" id="prevPage">
                        <a class="page-link"><i class="fas fa-caret-left"></i></a>
                    </li>
                    {{ range $i := pagination .pagen.Pages }}
                    <li class="page-item {{ if eq $.pageNum $i }}active{{ end }}"><a class="page-link page-number" page-number="{{ $i }}">{{ $i }}</a></li>
                    {{ end }}
                    <li class="page-item" id="nextPage">
                        <a class="page-link"><i class="fas fa-caret-right"></i></a>
                    </li>
                {{ else }}
                    <li class="page-item disabled">
                        <a class="page-link" href=""><i class="fas fa-caret-left"></i></a>
                    </li>
                    <li class="page-item active"><a class="page-link">1</a></li>
                    <li class="page-item disabled">
                        <a class="page-link" href=""><i class="fas fa-caret-right"></i></a>
                    </li>
                {{ end }}
            {{ else }}
                <li class="page-item disabled">
                    <a class="page-link" href=""><i class="fas fa-caret-left"></i></a>
                </li>
                <li class="page-item active"><a class="page-link">1</a></li>
                <li class="page-item disabled">
                    <a class="page-link" href=""><i class="fas fa-caret-right"></i></a>
                </li>
            {{ end }}
        {{ else }}
            No results found
        {{ end }}
    </ul>
</nav>