{{ range . }}
<div class="row post-list">
    <div class="col-12">
        <div class="card">
            <div class="post card-body">
                <h3 class="post-title"><a href="/post/{{ .ID }}">{{ .Title }}</a></h3>
                <small class="text-muted">Posted by <b>{{ .Author }}</b> on {{ .Date }}</small>
                <p><small><i class="fas fa-tags"></i>&nbsp;
                        {{ range $index, $tag := .TagArr }}
                            {{if $index}},{{end}}
                            <a href="/tag/{{ $tag }}">{{ $tag }}</a>
                        {{ end }}
                    </small></p>
                <hr>
                <p>{{ md .Description }}</p>
            </div>
        </div>
    </div>
</div>
{{ end }}