body {
    font-size: 80%;
    padding: 20px;
    background-color: #000;
}

.error-page {
    width: 50%;
    height: 50%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.error-page .inner {
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    transform: translateY(25%);
}

.error-page .inner h1 {
    font-size: 5rem;
}
.error-page .inner p {
    font-size: 1.6rem;
    font-weight: 300;
}
