{{ set . "title" "Manage" }}
{{ set . "active" "dashboard" }}
{{ template "templates/manage/header.html" . }}
{{ template "templates/manage/navigation.html" . }}

<div class="content">
    <div class="row">
        <div class="col-3">
            <div class="notification-panel good"><i class="icon fa fa-check fa-3x"></i>
                <div class="info">
                    <h4>1000</h4>
                    <p>Some good stat</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="notification-panel info"><i class="icon fa fa-server fa-3x"></i>
                <div class="info">
                    <h4>1000</h4>
                    <p>Require Updates</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="notification-panel warning"><i class="icon fa fa-exclamation-circle fa-3x"></i>
                <div class="info">
                    <h4>100</h4>
                    <p>Issues</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="notification-panel error"><i class="icon fa fa-times fa-3x"></i>
                <div class="info">
                    <h4>10000</h4>
                    <p>Some other stat</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6">
            <div class="notification-panel default"><i class="icon fa fa-exclamation-circle fa-3x"></i>
                <div class="info">
                    <h4>100</h4>
                    <p>Issues</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="notification-panel default"><i class="icon fa fa-times fa-3x"></i>
                <div class="info">
                    <h4>10000</h4>
                    <p>Some other stat</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    test
</div>
{{/* TODO: Map showing visitors*/}}
{{ template "templates/manage/footer.html" . }}