{{ set . "title" "Manage" }}
{{ set . "active" "dashboard" }}
{{ append . "styles" "/public/vendor/jvectormap/jquery-jvectormap-2.0.3.css" }}
{{ template "templates/manage/header.html" . }}
{{ template "templates/manage/navigation.html" . }}

<div class="content">
    <div class="row">
        <div class="col-4">
            <div class="notification-panel default"><i class="icon fa fa-check fa-3x"></i>
                <div class="info">
                    <h4>{{ .postCount }}</h4>
                    <p>Articles</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="notification-panel info"><i class="icon fa fa-server fa-3x"></i>
                <div class="info">
                    <h4>{{ .unique_visitors }}</h4>
                    <p>Unique Visitors</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="notification-panel warning"><i class="icon fa fa-exclamation-circle fa-3x"></i>
                <div class="info">
                    <h4>{NUM}</h4>
                    <p>New Comments</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div id="visitor-map"></div>
</div>
{{/* TODO: Map showing visitors*/}}
{{ append . "scripts" "/public/vendor/jvectormap/jquery-jvectormap-2.0.3.min.js" }}
{{ append . "scripts" "/public/vendor/jvectormap/maps/world.js" }}
{{ template "templates/manage/footer.html" . }}