{{ range $i, $key := .posts }}
    <div class="row post-list">
        <div class="col-12">
            <div class="card">
                <div class="post card-body">
                    <div class="row">
                        <h4 class="col-9 post-title"><a href="/post/{{ $key.URL }}">{{ $key.Title }}</a></h4>
                        <div class="col-3">
                            <small><i class="fas fa-clock"></i> <span class="text-muted">{{ $key.Date }}</span></small>
                            <br>
                            {{ printtags $key.TagArr false }}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <p>{{ md $key.Description }}</p>
                </div>
            </div>
        </div>
    </div>
{{ end }}