{{ set . "title" .post.Title }}
{{ set . "active" "post" }}
{{template "templates/header.html" .}}
{{template "templates/navigation.html" .}}

<div class="page-container">
    <div class="row">
        <div class="col-12">
            <div class="px-3 py-2">
                <h2>{{ .post.Title }}</h2>
                <small class="text-muted">By <b>{{ .post.Author }}</b> on {{ .post.Date }}
                {{ if .post.Updated }}
                    | Updated on {{ .post.Updated }}
                {{ end }}
                </small>
                <hr>
                {{ md .post.Content }}
                <hr>
                <p>{{ printtags .post.TagArr true }}</p>
            </div>
        </div>
    </div>
</div>

{{template "templates/footer.html" .}}
