{{ set . "title" .post.Title }}
{{ set . "active" "post" }}
{{template "templates/header.html" .}}
{{template "templates/navigation.html" .}}


<div class="page-container">
    <div class="row">
        <div class="col-12">
            <h3>{{ .post.Title }}</h3>
            <small class="text-muted">By <b>{{ .post.Author }}</b> on {{ .post.Date }}</small>
            <hr>
            <div class="p-2">
                {{ md .post.Content }}
            </div>
            <hr>
            <p><small><i class="fas fa-tags"></i>&nbsp;
                    {{ range $index, $tag := .post.TagArr }}
                        {{if $index}},{{end}}
                        <a href="/tag/{{ $tag }}">{{ $tag }}</a>
                    {{ end }}
                </small></p>
        </div>
    </div>
</div>

{{template "templates/footer.html" .}}
