{{ set . "title" "View Post Analytics" }}
{{ set . "active" "postanalytics" }}
{{ template "templates/manage/header.html" . }}
{{ template "templates/manage/navigation.html" . }}

<div class="content">
    <h3>Post Visitors</h3>
    <hr>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>User ID</th>
            <th>Last IP</th>
            <th>Country</th>
            <th>OS</th>
            <th>Browser</th>
            <th>Device</th>
            <th>Last Seen</th>
            <th>Visits</th>
            <th>View</th>
        </tr>
        </thead>
        <tbody>
        {{ range .postvisitors }}
            <tr>
                <td>{{ .ID }}</td>
                <td>{{ .Title }}</td>
                <td>{{ .Count }}</td>
                <td>{{ .Date }}</td>
                <td>{{ .Modified }}</td>
                <td><a class="btn btn-primary w-100" href="{{ url "Analytics.Post" .Title }}">View</a></td>
            </tr>
        {{ end }}
        </tbody>
    </table>
</div>
{{ template "templates/manage/footer.html" . }}