{{ set . "title" "View Post Analytics" }}
{{ set . "active" "postanalytics" }}
{{ template "templates/manage/header.html" . }}
{{ template "templates/manage/navigation.html" . }}

<div class="content">
    <h3>Post Visitors</h3>
    <hr>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Post ID</th>
            <th>Title</th>
            <th>Visits</th>
            <th>Date</th>
            <th>Updated</th>
            <th>View</th>
        </tr>
        </thead>
        <tbody>
        {{ range .posts }}
            <tr>
                <td>{{ .ID }}</td>
                <td>{{ .Title }}</td>
                <td>{{ .Count }}</td>
                <td>{{ .Date }}</td>
                {{ if .Updated }}
                    <td>{{ .Updated }}</td>
                {{ else }}
                    <td>n/a</td>
                {{ end }}
                <td><a class="btn btn-primary w-100" href="{{ url "Analytics.Post" .URL }}">View</a></td>
            </tr>
        {{ end }}
        </tbody>
    </table>
</div>
{{ template "templates/manage/footer.html" . }}