<!DOCTYPE html>
<html lang="en">
<head>
	<title>404 - Not Found</title>
	<link rel="stylesheet" href="/public/stylesheets/bootstrap/bootstrap.min.css" />
	<link rel="stylesheet" href="/public/stylesheets/error.css" />
</head>
<body>
<div class="error-page">
	<div class="inner">
		{{with .Error}}
			<h1>
				404 Not Found
			</h1>
			<p>
				{{.Description}}
			</p>
		{{end}}
		<p>
			<a href="/" class="btn btn-light btn-lg mt-3">Take me home!</a>
		</p>
	</div>
</div>
</body>
</html>