{{ set . "title" "About me" }}
{{ set . "active" "about" }}
{{template "templates/header.html" .}}
{{template "templates/navigation.html" .}}


<div class="page-container">
    <div class="row about">
        <div class="col-md-4 about-details ">
            <img src="/public/img/avatar.png" class="" />
            <div class="row mt-3">
                <div class="col-12">
                    <h3 class="text-center">Zach Hosier</h3>
                    <ul class="social-list list-unstyled">
                        <li><i class="fab fa-github"></i> <a href="">GitHub</a></li>
                        <li><i class="fab fa-twitter"></i> <a href="">Twitter</a></li>
                        <li><i class="fab fa-instagram"></i> <a href="">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="d-block d-md-none w-100">
        <div class="col-md-8 align-self-center">
            {{ md .about }}
        </div>
    </div>
</div>

{{template "templates/footer.html" .}}
