{{ set . "title" "About me" }}
{{ set . "active" "about" }}
{{template "templates/header.html" .}}
{{template "templates/navigation.html" .}}


<div class="page-container">
    <div class="row about mt-3 mb-3">
        <div class="col-md-4 about-details ">
            <img src="/public/img/avatar.png" class="img-thumbnail" />
            <div class="row mt-3">
                <div class="col-12">
                    <h3 class="text-center">Zach Hosier</h3>
                    <ul class="social-list list-unstyled">
                        <li><i class="fas fa-map-marker-alt"></i> Colorado</li>
                        <li><i class="fab fa-github"></i> <a href="https://github.com/zelims" target="_blank">zelims</a></li>
                        <li><i class="fab fa-twitter"></i> <a href="https://twitter.com/_zmiles" target="_blank">_zelims</a></li>
                        <li><i class="fab fa-instagram"></i> <a href="https://instagram.com/z.elims" target="_blank">z.elims</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="d-block d-md-none w-100">
        <div class="col-md-8 align-self-center">
            {{ md .about }}
        </div>
    </div>
</div>

{{template "templates/footer.html" .}}
