{{ set . "title" "zelims - About" }}
{{ set . "active" "about" }}
{{template "templates/header.html" .}}
{{template "templates/navigation.html" .}}


<div class="page-container">
    <div class="row about mt-3 mb-3">
        <div class="col-md-4 about-details ">
            <img src="/public/images/avatar.png" class="img-thumbnail" />
            <div class="row mt-3">
                <div class="col-12">
                    <h3 class="text-center">{{ .profile.Name }}</h3>
                    <ul class="social-list list-unstyled">
                        {{ if .profile.Location }}
                            <li><i class="fas fa-map-marker-alt"></i> {{ .profile.Location }}</li>
                        {{ end }}
                        {{ if .profile.Github }}
                            <li><i class="fab fa-github"></i> <a href="https://github.com/{{ .profile.Github }}" target="_blank">{{ .profile.Github }}</a></li>
                        {{ end }}
                        {{ if .profile.LinkedIn }}
                            <li><i class="fab fa-linkedin"></i> <a href="https://linkedin.com/in/{{ .profile.LinkedIn }}" target="_blank">{{ .profile.LinkedIn }}</a></li>
                        {{ end }}
                        {{ if .profile.Twitter }}
                            <li><i class="fab fa-twitter"></i> <a href="https://twitter.com/{{ .profile.Twitter }}" target="_blank">{{ .profile.Twitter }}</a></li>
                        {{ end }}
                        {{ if .profile.Instagram }}
                            <li><i class="fab fa-instagram"></i> <a href="https://instagram.com/{{ .profile.Instagram }}" target="_blank">{{ .profile.Instagram }}</a></li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
        <hr class="d-block d-md-none w-100">
        <div class="col-md-8 align-self-center">
            {{ md .profile.About }}
        </div>
    </div>
</div>

{{template "templates/footer.html" .}}
