{{set . "title" "Home"}}
{{template "templates/header.html" .}}
{{template "templates/navigation.html" .}}


<header class="profile-background">
  <div class="overlay"></div>
</header>

<div class="container">
  <div class="row">
    <div class="col-12">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur consequatur distinctio doloremque dolores excepturi iusto laboriosam non provident, quia sunt ut voluptatem. Aliquid cupiditate eum explicabo fugit nam repellendus!
    </div>
  </div>
</div>

{{template "templates/footer.html" .}}
