{{ set . "title" "zelims - Projects" }}
{{ set . "active" "projects" }}
{{template "templates/header.html" .}}
{{template "templates/navigation.html" .}}

<div class="page-container">
    <div class="text-center">
        Being worked on....
    </div>
</div>

{{template "templates/footer.html" .}}
