{{ set . "title" "My Projects" }}
{{ set . "active" "projects" }}
{{template "templates/header.html" .}}
{{template "templates/navigation.html" .}}

<div class="page-container">
    {{ if .hadError }}
        <div class="text-center">
            <h3>{{ .hadError }}</h3>
            <span>Please try again later</span>
        </div>
    {{ else }}
        <div class="row">
            <div class="col-12">
                <div class="calendar">
                    <img src="/public/img/loader.gif" />
                </div>
            </div>
        </div>
        <table class="table table-bordered mt-5" id="repo-table">
            <thead>
                <td>Name</td>
                <td>Language</td>
                <td>Description</td>
                <td>Last Update</td>
                <td>Issues</td>
                <td>README</td>
            </thead>
            {{ range .repos }}
                <tr>
                    <td><a target="_blank" href="http://github.com/zelims/{{ .Name }}">{{ .Name }}</a></td>
                    <td>{{ .Language }}</td>
                    <td>{{ .Description}}</td>
                    <td class="nowrap">{{ .LastUpdate}}</td>
                    <td class="text-center">{{ .OpenIssues }}</td>
                    <td class="text-center">{{ if .README }}
                        <a class="nohref" data-toggle="modal" data-target="#{{.Name}}_Modal">View</a>
                    {{ end }}</td>
                </tr>
                {{ if .README }}
                    <div class="modal fade" id="{{.Name}}_Modal">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="readme-modal-content modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">{{ .Name }} README</h5>
                                </div>
                                <div class="modal-body">
                                    <p>{{ .README_DATA }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary readme-modal-btn" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {{ end }}
            {{ end }}
        </table>
    {{ end }}
</div>

{{template "templates/footer.html" .}}
