{{ set . "title" "zelims - Projects" }}
{{ set . "active" "projects" }}
{{template "templates/header.html" .}}
{{template "templates/navigation.html" .}}

<div class="page-container">
    {{ if .hadError }}
        <div class="text-center">
            <h3>{{ .hadError }}</h3>
            <span>Please try again later</span>
        </div>
    {{ else }}
        <div class="row">
            <div class="col-12">
                <div class="calendar">
                    <div class="loading">
                        <div class="loading-bar"></div>
                        <div class="loading-bar"></div>
                        <div class="loading-bar"></div>
                        <div class="loading-bar"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="repo-list">
            <div class="loading">
                <div class="loading-bar"></div>
                <div class="loading-bar"></div>
                <div class="loading-bar"></div>
                <div class="loading-bar"></div>
            </div>
        </div>
    {{ end }}
</div>

{{template "templates/footer.html" .}}
