{{ set . "title" "zelims - Repositories" }}
{{ set . "active" "repositories" }}
{{template "templates/header.html" .}}
{{template "templates/navigation.html" .}}

<div class="page-container">
    <div id="github">
        <div class="loading">
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
        </div>
    </div>
</div>

{{template "templates/footer.html" .}}
