{{ set . "title" (strcat "Edit Post - " .post.Title) }}
{{ set . "active" "editpost" }}
{{ append . "styles" "/public/stylesheets/simplemde/simplemde.min.css" }}
{{ template "templates/manage/header.html" . }}
{{ template "templates/manage/navigation.html" . }}

<div class="content">
    <form method="POST" enctype="multipart/form-data" action="{{ url "Posts.Modify" .post.ID }}">
        <h3>Edit Post</h3>
        <hr>
        {{ template "Manage/Posts/form.html" .post }}
        <hr>
        <a href="{{ url "Posts.View" }}" class="btn btn-danger float-left"><i class="fas fa-times"></i> Cancel</a>
        <button type="submit" data-type="post" class="btn btn-success float-right"><i class="fas fa-check"></i> Submit Edit</button>
        <div class="clearfix"></div>
    </form>
</div>
{{ append . "scripts" "/public/scripts/simplemde/simplemde.min.js" }}
{{ template "templates/manage/footer.html" . }}