<div class="form-group">
    <label for="post-title">Post Title</label>
    <input type="text" class="form-control" name="post-title" id="post-title" placeholder="...." value="{{ .Title }}">
</div>
<div class="form-group mb-4">
    <label for="post-description">Post Description</label>
    <small class="text-muted">Brief description of the post (500 character limit)</small>
    <textarea class="form-control" id="post-description" name="post-description" rows="3" style="resize: none;">{{ .Description }}</textarea>
    <small class="form-text text-muted float-right">Characters Left: <span id="description-chars"></span></small>
</div>
<div class="form-group">
    <label for="post-content">Post Content</label>
    <div id="post-editor">
        <textarea id="post-content" name="post-content">{{ .Content }}</textarea>
    </div>
</div>
<div class="form-group">
    <label for="post-tags">Post Tags</label>
    <input type="text" class="form-control" id="post-tags" name="post-tags" aria-describedby="tagHelp" value="{{ .Tags }}" />
    <small id="tagHelp" class="form-text text-muted">Separate words by commas</small>
</div>
<hr>
<div class="form-group">
    <label for="post-images">Post Images</label>
    {{ if .Images }}
        {{ printImages .Images }}
    {{ end }}
    <input type="file" class="form-control-file" id="post-images" name="post-images" />
</div>
<hr>
<div class="form-group">
    <label for="post-banner">Banner Image</label>
    {{ if .Banner }}
        <img src="/public/images/posts/{{ .Banner }}.jpg" alt="" class="post-banner-thumbnail" />
    {{ end }}
    <input type="file" class="form-control-file" id="post-banner" name="post-banner" />
</div>