{{ set . "title" "New Post" }}
{{ set . "active" "newpost" }}
{{ append . "moreStyles" "stylesheets/simplemde.min.css" }}
{{ template "templates/manage/header.html" . }}
{{ template "templates/manage/navigation.html" . }}

<div class="content">
    <form method="POST" action="{{ url "Posts.Create" }}">
        <h3>New Post Entry</h3>
        <hr>
        {{ template "Manage/Posts/form.html" . }}
        <hr>
        <a href="{{ url "Manage.Index" }}" class="btn btn-danger float-left"><i class="fas fa-times"></i> Cancel</a>
        <button type="submit" data-type="post" class="btn btn-success float-right"><i class="fas fa-check"></i> Submit</button>
        <div class="clearfix"></div>
    </form>
</div>
{{ append . "moreScripts" "scripts/simplemde.min.js" }}
{{ template "templates/manage/footer.html" . }}