{{ set . "title" "View Posts" }}
{{ set . "active" "posts" }}
{{ template "templates/manage/header.html" . }}
{{ template "templates/manage/navigation.html" . }}

<div class="content">
    <h3 class="ml-2">All Posts</h3>
    <hr>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Tags</th>
            <th>Date</th>
            <th>Last Updated</th>
            <th></th>
        </tr>
        {{ range .posts }}
            <tr>
                <td>{{ .ID }}</td>
                <td>{{ .Title }}</td>
                <td>{{ .Author }}</td>
                <td>{{ .TagsValue }}</td>
                <td>{{ .Date }}</td>
                <td>{{ if .Updated }}
                    {{ .Updated }}
                {{ else }}
                    n/a
                {{ end }}</td>
                <td><a href="{{ url "Posts.Edit" .ID }}" class="btn btn-primary btn-block">Edit</a></td>
            </tr>
        {{ end }}
    </table>
</div>
{{ template "templates/manage/footer.html" . }}