{{if .flash.success}}
	<div class="alert alert-success">
		<i class="fas fa-times"></i> {{.flash.success}}
	</div>
{{end}}

{{if or .errors .flash.error}}
<div class="alert alert-danger">
	{{if .flash.error}}
		<i class="fas fa-times"></i> {{.flash.error}}
	{{end}}
	{{ if .errors }}
		<ul style="margin-top:10px;">
			{{range .errors}}
				<li>{{.}}</li>
			{{end}}
		</ul>
	{{ end }}
</div>
{{end}}
